.bg-nav-color{
  background-color: #fe7705;
  font-size: 25px;
}
.bg-section-color{
  /* footer color home page  */
  background-color: #002440;
}
.bg-btn-color{
  background-color: #fe7705;
  color: aliceblue;
}
.bg-btn-color:hover{
  color: black;
  background-color: #efedeb;
}
.bdr-radius{
  /* border radius for home contacts services etc  */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.car-select-form{
  /* form for selecrt car and bike....  */
  margin: 5px;
  padding: 5px;
  display: flex;
  word-spacing: 5px;
}
.ul-style-none{
  list-style: none;
}
.nav-link{
  margin-right: 5px; 
}
.active{
  font-size: 17px;
  border-radius: 10px;

}
.nav-link:hover{
  font-size: 23px;
  background-color: #fe7705;
  border-color: #fe7505de;
  border-radius: 10px;

}
.active-navb{
  background-color: #fe7705;

}
.dropdown-item{
  height: 60px;
  font-size: 22px;
}
.dropdown-item:hover{
  background-color: #fe7705;
  font-size: 22px;
}
.footer-links{
  text-decoration:none;
  font-size: 22px;
  list-style-type: none;
  color: white;
}
.card:hover{
  /* card hover effect  */
  border-color: #000000;
  background-color:#002440;
  color: white;
}

.card-img-top{
/* image size in cards */
width:270px;
height:152px;

}
.icon-size{
  /* size for footer icons  */
  height: 20px;
  background-color:transparent;
}

/* home page modal list  */
.modal-header,.modal-body,.modal-footer{
  background-color: #002440;
  color: white;
}
.copyright-text{
  margin-top: 4px;
  padding-top: 3px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #efedeb;
  font-size: 15px;
  font-weight: 300;
  border-top: 1px solid black;
}

/* car near faqs css  */
.car-posi{
  position: relative;

}
.car-img-fixed{
  margin: 5PX;
  padding: 5px;
  position: absolute;
  right: 5px;
  width:700px ;
}