.bg-prime-col{
  background-color: #00213b;
}
.bg-sec-col{
  background-color: #fe7905;
}
.bg-gray-col{
  background-color: #f5f7f9;
}
.font-prime-col{
  color: #00213b;
}
.font-sec-col{
  color: #fe7905;
}
.text-decor{
  text-decoration: none;
  color: inherit;
  list-style: none; 
}
/* =========== margin and padding ========== */
.mt-pt{
  margin-top: 10px;
  padding-top: 10px;
}
.mb-pb{
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* ========== button hover effect ========== */
.btn-hover:hover{
  background-color: #fe7905;
  color: white;
  font-size: 22px;
}


/* ========== header ==========  */
.active{
  border-bottom: 3px solid #fe7905;
  color: white !important;

}
.header-hover:hover{
  font-size: 20px;
  color: white;
  border-bottom: 3px solid #fe7905;
}

/* ========== card hover ========== */
.btn{
  background-color:#fe7905;
  color: white; 
}
.card{
  height: 390px; ;
  border: 2px solid #dde2e6;
}
.card:hover{
  background-color: #00213b;
  color: #fe7905;
}

.btn-card-hover:hover{
  background-color: #fe7905;
  color: white;
  font-size: 18px;
}

/* ==========image in card size ==========  */
.card-img-top{
  height: 155px !important;
}
